body {
  background-color: rgb(249, 249, 249);
}
main{
  padding: 1rem;
}

.appbar {
  padding: 0.5rem;
  width:100%;
}
.menu-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-small svg{
   height: 26px;
   fill:#cf120f;
}
 

 .cart-items{
   position: relative;
   font-size:14px;
 }
 
.cart-item-count {
  color:#cf120f;
  position: absolute;
  top: 0px;
  left: 16px;
  font-weight: bold;
  display: inline;
}
/* Page Header Styles */
.page-header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color:#575152;
  margin: 1.5rem 0;
}
.page-header h1{
  font-size: 3rem;
  line-height: 2.5rem;;
  font-weight: 800;
}
.page-header p{
  font-size:1.125rem;
}
 


/* YOUR STYLE START HERE */
